#contenedor_productos {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-items: center;
    flex-wrap: wrap;
}

#compraTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}